<div class="row">
  <div class="large-centered columns center-text">
		<h2>Github Repo visualization</h2>
	</div>
</div>

<div class="row">
	<div class="small-8 large-centered columns center-text">
		<section id="fetch">
			<div class="small-9 columns">
				<input type="text" placeholder="Enter username" id="term" />
			</div>
			<button id="search" class="button tiny radius">Search</button>
			<button id="clear" class="button tiny radius">Clear</button>
		</section>
	</div>
</div>

<div class="row">
	<div class="small-6 large-centered columns center-text" id="username">
	</div>
</div>

<div class="row">
	<div class="large-4 medium-4 small-12 columns">
		<ol id="repoDetails"></ol>
	</div>

	<div class="large-8 medium-8 small-12 columns" id="chart" style="height: 600px;">
	</div>	
</div>
